/*
    Attributes
*/

/* #T# attribute selector [] */
input[value]
{
    background-color: cornflowerblue;
}
/* #T# attribute value selector [=] */
input[type=search]
{
    background-color: brown;
}
/* #T# several attribute value selectors */
input[type=text][value=defval]
{
    width: 3cm;
}
/* #T# attribute selector with match at start [^=] */
input[value^=Val]
{
    background-color: yellow;
}
/* #T# attribute selector with match at end [$=] */
input[value$=Val]
{
    background-color: red;
}
/* #T# attribute selector with match anywhere [*=] */
input[value*=Val]
{
    height: 34px;
}