/*
    At rules
*/

/* #T# @import rule */
@import url("Section3_4.css");

/* #T# @media rule */
@media screen, handheld, print, projection, all
{
    p
    {
        font-weight: bold;
    }
}

/* #T# @font-face rule, local() */
@font-face
{
    font-family: "extraFont";
    src: local(Carlito),
         url("S3_05_Aux01.otf");
}
*
{
    font-family: "extraFont";
}