/*
    Rounded corners
*/

#id1
{
    background-color:dimgray;

/* #T# properties: border-radius, border-top-left-radius, */
/* #T# border-top-right-radius, border-bottom-right-radius, */
/* #T# border-bottom-left-radius */
    border-radius: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 20px;
}
p
{
    background-color: darkslategrey;

/* #T# border-radius: h/v */
    border-radius: 100px/20px;
}