/*
    Universal, child, adjacent
*/

/* #T# universal selector * */
article *
{
    display: none;
}

/* #T# child selector > */
.uList > li
{
    border: 2px saddlebrown solid;
}

/* #T# adjacent selector + */
h1 + p
{
    background-color: blue;
}

/* #T# all following selector ~ */
h1 ~ p
{
    color: brown;
}