/*
    Transformations
*/

p:first-of-type
{
/* #T# transform: rotate() */
    transform: rotate(-10deg);
}
p:nth-of-type(2)
{
    background-color: blue;

/* #T# transform: skew */
    transform: skew(15deg,0deg);
}
p:nth-of-type(3)
{
/* #T# transform: scale() */
    transform: scale(1,1.5);
}
p:nth-of-type(4)
{
    transform: translate(100px,10px) rotate(1deg);
}
p:nth-of-type(5)
{
/* #T# transform: matrix(scaleX,skewX,skewY,scaleY,transX,transy), */
/* #T# transform-origin */
    transform: matrix(1.2,0,0.5,2,15,2);
    transform-origin: 0 0;
}