/*
    Transitions
*/

a:link
{
/* #T# properties: transition, transition-property, transition-duration, */
/* #T# transition-timing-function, transition-delay */
    transition: all 1s;
    transition-property: color, font-size;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;

    background-color: darkblue;
    color: aqua;
    font-size: 0.3cm;
}
a:hover
{
    background-color: darkgoldenrod;
    color: blueviolet;
    font-size: 0.6cm;
}