/*
    Media queries
*/

/* #T# @media and (max-width|min-width) */
@media screen and (max-width: 1000px)
{
    p
    {
        color: blue;
    }
}
@media screen and (min-width: 600px)
{
    p
    {
        font-style: italic;
    }
}
/* #T# @media and (orientation: landscape|portrait) */
@media screen and (orientation: landscape) and (min-width: 600px)
{
    p
    {
        font-weight: bold;
    }
}
/* #T# @media and (min|max-device-height|width) */
@media screen and (min-device-height:750px) and (max-device-width:1000px)
{
    p
    {
        background-color: burlywood;
    }
}
/* #T# @media and (min|max-device-pixel-ratio) */
@media screen and (min-device-pixel-ratio: 2)
{
    p
    {
        background-color: cadetblue;
    }
}
/* #T# @media and (min|max-resolution) */
@media screen and (resolution:300dpi)
{
    p
    {
        background-color: blue;
    }
}
/* #T# @media and (device-aspect-ratio) */
@media screen and (device-aspect-ratio: 16/9)
{
    p
    {
        background-color: green;
    }
}