/*
    Text
*/

/* #T# text properties: font-family, bold -> font-weight, line-height */
p
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    line-height: 2cm;
}
/* #T# font-size, text-transform, letter-spacing, text-align */
h1
{
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 3pt;
    text-align: center;
}
/* #T# italic -> font-style, font-variant, text-decoration */
a
{
    font-style: oblique;
    font-variant: small-caps;
    text-decoration: overline;
}
/* #T# word-spacing, text-indent */
h2
{
    word-spacing: 1cm;
    text-indent: 1.5cm;
}