/*
    Borders
*/

/* #T# properties: border-style */
h1
{
    border-style: groove;
    border-width: 20px;
}
/* #T# border-top-width, border-left-width, border-right-width, border-bottom-width, border-color */
h2
{
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 10px;
    border-right-width: 20px;
    border-bottom-width: 30px;
    border-color: darkcyan;
}