h1 
{
    font-family: "Georgia";
    font-size: 28pt;
    text-align: center;
}

h2
{
    font-family: "Georgia";
    font-size: 24pt;
}

p
{
    font-family: "Latin Modern Roman";
    font-size: 14pt;
    text-align: justify;
}

a
{
    font-family: "Latin Modern Roman";
    font-size: 14pt;
    color: teal ;
    text-decoration: none;
}

dl
{
    font-family: "Latin Modern Roman";
    font-size: 14pt;
    text-align: justify;
}

dt
{
    margin-top: 1cm;
    margin-bottom: 0.3cm;
    background-color: rgba(255, 221, 149, 0.25);
    padding: 2px 10px;
    border-radius: 7px;
    border-style: solid;
    border-image: linear-gradient(160deg, rgba(255, 218, 9, 40%), rgba(0, 0, 0, 0%) 15%, rgba(0, 0, 0, 0%) 80%, rgba(255, 25, 190, 0.35)) 1% stretch;
}

dd
{
    background-color: rgb(255, 193, 202);
    background-clip: border-box;
    padding: 2px 14px 12px;
    border-radius: 7px;
    border-style: solid;
    border-image: linear-gradient(135deg, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 0%) 15%, rgba(0, 0, 0, 0%) 55%, rgba(242, 13, 250, 0.65)) 1% stretch;
}

figure
{
    text-align: center;
}

figcaption
{
    font-family: "Latin Modern Roman";
    font-size: 14pt;
    font-style: italic;
}

.csl-entry
{
    font-family: "Latin Modern Roman";
    font-size: 14pt;
}

h3
{
    font-family: "Georgia";
    font-size: 20pt;
    font-style: italic;
}

h4
{
    font-family: "Georgia";
    font-size: 17pt
}

h5
{
    font-family: "Georgia";
    font-size: 16pt
}

h6
{
    font-family: "Georgia";
    font-size: 15pt
}