@media print
{
    @page
    {
        margin: 1.3in 1.3in;
    }

    body
    {
        -webkit-print-color-adjust: exact;
    }

    :root
    {
        --p_font-size: 14pt;
        --p_font-family: "Latin Modern Roman";
        --h_font-family: "Playfair Display";
        --a_color: teal;
        --title_font-size: 22pt;

        --h1_font-size: 20pt;
        --h2_font-size: 19pt;
        --h3_font-size: 18pt;
        --h4_font-size: 17pt;
        --h5_font-size: 16pt;
        --h6_font-size: 15pt;

        --bg_opacity: .35;
    }

    h1 
    {
        font-family: var(--h_font-family);
        font-size: var(--h1_font-size);
        text-align: center;
        font-weight: normal;
    }

    h2
    {
        font-family: var(--h_font-family);
        font-size: var(--h2_font-size);
        text-align: center;
        font-weight: normal;
    }

    p
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        text-align: justify;
    }

    a
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        color: var(--a_color);
        text-decoration: none;
    }

    .title
    {
        font-size: var(--title_font-size);

        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
        margin-bottom: 2cm;
        padding: 30px;
        padding-bottom: 40px;

        background-image: url(res/title-o.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    li
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        line-height: 50px;
    }

    ul li::marker
    {
        content: "";
    }

    ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li1.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li3.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li4.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li5.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li6.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #toc-id ul li::before
    {
        content: "";
        background-image: none;
    }

    #toc-id ul li a
    {
        font-family: var(--h_font-family);
    }

    dl
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        text-align: justify;
    }

    dt::before
    {
        display: block;
        content: " ";
        background-image: url(res/dt-o-u.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 100%;
        height: 5px;
        opacity: calc(var(--bg_opacity) - .1);

        position: relative;
        left: -1ex;
        padding-right: 1ex;
        padding-left: 1ex;
    }
    dt
    {
        margin-top: 1cm;
        margin-bottom: 0.3cm;
        padding: 2px 12px;
        background-color: rgba(255, 193, 202, .25);

        width: -moz-fit-content;
        width: fit-content;
        margin-right: auto;

        font-size: var(--p_font-size);
    }
    dt::after
    {
        display: block;
        background-image: url(res/dt-o-l.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 100%;
        height: 5px;
        content: " ";
        opacity: calc(var(--bg_opacity) - .1);

        position: relative;
        left: -1ex;
        padding-right: 1ex;
        padding-left: 1ex;
    }

    dd
    {
        background-color: rgba(255, 193, 202, .25);
        padding: 25px 37px;

        margin: 25px 10px 60px;
        margin-left: 30px;

        border-right: solid 1mm rgb(255, 139, 211);
        border-bottom: solid 1mm rgb(255, 139, 211);
    }

    .term
    {
        break-inside: avoid;
    }

    .break-before-class
    {
        break-before: page;
    }

    figure
    {
        text-align: center;
    }

    figcaption
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        font-style: italic;
    }

    .csl-entry
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
    }

    h3
    {
        font-family: var(--h_font-family);
        font-size: var(--h3_font-size);
        font-style: italic;
        font-weight: normal;
    }

    h4
    {
        font-family: var(--h_font-family);
        font-size: var(--h4_font-size);
        font-weight: normal;
    }

    h5
    {
        font-family: var(--h_font-family);
        font-size: var(--h5_font-size);
        font-weight: normal;
    }

    h6
    {
        font-family: var(--h_font-family);
        font-size: var(--h6_font-size);
        font-weight: normal;
    }

    code
    {
        font-family: "CMU Typewriter Text";
        font-size: calc(var(--p_font-size) - 1pt);
        background-color: rgba(100, 100, 100, .1);
        border: solid 2px rgba(100, 100, 100, .1);
        border-radius: 2px;
        padding: 0px 2px;
    }

    .sourceCode
    {
        font-family: "CMU Typewriter Text";
        font-size: calc(var(--p_font-size) - 1pt);
        background: rgba(0, 0, 0, 0);
        border: rgba(0, 0, 0, 0);
    }

    code span.pp /* styles preprocessor directives in C */
    {
        color: rgb(177, 30, 120);
    }

    .syntax
    {
        border: solid 2px rgba(100, 100, 100 , .1);
        background: rgba(100, 100, 100, .1);
        border-left: solid 12px rgba(0, 255, 0, .8);
        padding: 8px 18px;
    }

    .syntax code
    {
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    .block
    {
        position:relative;
    }

    .block::before
    {
        content: "";
        background-image: url(res/blockquote-o.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.3;
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        width:auto;
        height:auto;
        z-index: -3;
    }

    blockquote
    {
        margin: 16px 0;
        padding: 30px 50px;
    }
}

@media screen
{
    body
    {
        margin: 3cm 6cm;
    }

    :root
    {
        --p_font-size: 18pt;
        --p_font-family: "Latin Modern Roman";
        --h_font-family: "Playfair Display";
        --a_color: teal;
        --title_font-size: 26pt;

        --h1_font-size: 24pt;
        --h2_font-size: 23pt;
        --h3_font-size: 22pt;
        --h4_font-size: 21pt;
        --h5_font-size: 20pt;
        --h6_font-size: 19pt;

        --bg_opacity: .35;
    }

    h1 
    {
        font-family: var(--h_font-family);
        font-size: var(--h1_font-size);
        text-align: center;
        font-weight: normal;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }

    h2
    {
        font-family: var(--h_font-family);
        font-size: var(--h2_font-size);
        text-align: center;
        font-weight: normal;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }

    p
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        text-align: justify;
    }

    a
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        color: var(--a_color);
        text-decoration: none;
    }

    .title
    {
        font-size: var(--title_font-size);

        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
        margin-bottom: 2cm;
        padding: 30px;
        padding-bottom: 40px;

        background-image: url(res/title-o.png);
        background-size: 100% auto;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    li
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        line-height: 50px;
    }

    ul li::marker
    {
        content: "";
    }

    ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li1.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li3.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li4.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li5.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li6.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #toc-id ul li::before
    {
        content: "";
        background-image: none;
    }

    #toc-id ul li a
    {
        font-family: var(--h_font-family);
    }

    dl
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        text-align: justify;
    }

    dt::before
    {
        display: block;
        content: " ";
        background-image: url(res/dt-o-u.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 100%;
        height: 5px;
        opacity: calc(var(--bg_opacity) - .1);

        position: relative;
        left: -1ex;
        padding-right: 1ex;
        padding-left: 1ex;
    }
    dt
    {
        margin-top: 1cm;
        margin-bottom: 0.3cm;
        padding: 2px 12px;
        background-color: rgba(255, 193, 202, .2);

        width: -moz-fit-content;
        width: fit-content;
        margin-right: auto;

        font-size: var(--p_font-size);
    }
    dt::after
    {
        display: block;
        background-image: url(res/dt-o-l.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 5px;
        content: " ";
        opacity: calc(var(--bg_opacity) - .1);

        position: relative;
        left: -1ex;
        padding-right: 1ex;
        padding-left: 1ex;
    }

    dd
    {
        background-color: rgba(255, 193, 202, .2);
        padding: 25px 37px;

        margin: 25px 10px 60px;
        margin-left: 30px;

        border-right: solid 5px rgba(255, 139, 211, .6);
        border-bottom: solid 5px rgba(255, 139, 211, .6);
    }

    figure
    {
        text-align: center;
    }

    figcaption
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        font-style: italic;
    }

    .csl-entry
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
    }

    h3
    {
        font-family: var(--h_font-family);
        font-size: var(--h3_font-size);
        font-weight: normal;
    }

    h4
    {
        font-family: var(--h_font-family);
        font-size: var(--h4_font-size);
        font-weight: normal;
    }

    h5
    {
        font-family: var(--h_font-family);
        font-size: var(--h5_font-size);
        font-weight: normal;
    }

    h6
    {
        font-family: var(--h_font-family);
        font-size: var(--h6_font-size);
        font-weight: normal;
    }

    code
    {
        font-family: "CMU Typewriter Text";
        font-size: calc(var(--p_font-size) - 1pt);
        background-color: rgba(100, 100, 100, .1);
        border: solid 2px rgba(100, 100, 100, .1);
        border-radius: 2px;
        padding: 0px 2px;
    }

    .sourceCode
    {
        font-family: "CMU Typewriter Text";
        font-size: calc(var(--p_font-size) - 1pt);
        background: rgba(0, 0, 0, 0);
        border: rgba(0, 0, 0, 0);
    }

    code span.pp /* styles preprocessor directives in C */
    {
        color: rgb(177, 30, 120);
    }

    .syntax
    {
        border: solid 2px rgba(100, 100, 100 , .1);
        background: rgba(100, 100, 100, .1);
        border-left: solid 12px rgba(0, 255, 0, .8);
        padding: 8px 18px;
    }

    .syntax code
    {
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    .block
    {
        position:relative;
    }

    .block::before
    {
        content: "";
        background-image: url(res/blockquote-o.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.3;
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        width:auto;
        height:auto;
        z-index: -3;
    }

    blockquote
    {
        margin: 16px 0;
        padding: 30px 50px;
    }
}
