@media print
{
    @page
    {
        margin: 1.3in 1.3in;
    }

    body
    {
        -webkit-print-color-adjust: exact;
    }

    :root
    {
        --p_font-size: 14pt;
        --p_font-family: "Latin Modern Roman";
        --h_font-family: "Playfair Display";
        --a_color: teal;
        --title_font-size: 22pt;

        --h1_font-size: 20pt;
        --h2_font-size: 19pt;
        --h3_font-size: 18pt;
        --h4_font-size: 17pt;
        --h5_font-size: 16pt;
        --h6_font-size: 15pt;

        --bg_opacity: .4;
    }

    h1 
    {
        font-family: var(--h_font-family);
        font-size: var(--h1_font-size);
        text-align: center;
        font-weight: normal;
    }

    h2
    {
        font-family: var(--h_font-family);
        font-size: var(--h2_font-size);
        text-align: center;
        font-weight: normal;
    }

    p
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        text-align: justify;
    }

    a
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        color: var(--a_color);
        text-decoration: none;
    }

    .title
    {
        font-size: var(--title_font-size);

        display: table;
        margin: auto;
        margin-bottom: 2cm;
        padding: 30px;
        padding-bottom: 40px;

        background-image: url(res/title-o.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    li
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        line-height: 50px;
    }

    ul li::marker
    {
        content: "";
    }

    ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li1.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li3.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li4.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li5.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li6.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #toc-id ul li::before
    {
        content: "";
        background-image: none;
    }

    dl
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        text-align: justify;
    }

    dt::before
    {
        display: block;
        background-image: url(res/dt-o-u.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 100%;
        height: 5px;
        content: " ";
        opacity: var(--bg_opacity);

        position: relative;
        left: -1ex;
        padding-right: 1ex;
        padding-left: 1ex;
    }
    dt
    {
        margin-top: 1cm;
        margin-bottom: 0.3cm;
        padding: 2px 12px;
        background-color: rgba(250, 250, 80, .1);

        display: table;
        margin-right: auto;

        font-size: var(--p_font-size);
    }
    dt::after
    {
        display: block;
        background-image: url(res/dt-o-l.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 100%;
        height: 5px;
        content: " ";
        opacity: var(--bg_opacity);

        position: relative;
        left: -1ex;
        padding-right: 1ex;
        padding-left: 1ex;
    }

    dd
    {
        background-color: rgba(255, 193, 202, .2);
        background-clip: border-box;
        padding: 2px 14px 12px;
        border-radius: 7px;
        border-style: solid;
        border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 0%) 15%, rgba(0, 0, 0, 0%) 55%, rgba(242, 13, 250, 0.65));
        border-image-slice: 1%;
        border-image-repeat: stretch;

        margin: 25px 10px 60px;
        margin-left: 30px;
    }

    figure
    {
        text-align: center;
    }

    figcaption
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        font-style: italic;
    }

    .csl-entry
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
    }

    h3
    {
        font-family: var(--h_font-family);
        font-size: var(--h3_font-size);
        font-style: italic;
        font-weight: normal;
    }

    h4
    {
        font-family: var(--h_font-family);
        font-size: var(--h4_font-size);
        font-weight: normal;
    }

    h5
    {
        font-family: var(--h_font-family);
        font-size: var(--h5_font-size);
        font-weight: normal;
    }

    h6
    {
        font-family: var(--h_font-family);
        font-size: var(--h6_font-size);
        font-weight: normal;
    }
}

@media screen
{
    body
    {
        margin: 3cm 6cm;
    }

    :root
    {
        --p_font-size: 18pt;
        --p_font-family: "Latin Modern Roman";
        --h_font-family: "Playfair Display";
        --a_color: teal;
        --title_font-size: 26pt;

        --h1_font-size: 24pt;
        --h2_font-size: 23pt;
        --h3_font-size: 22pt;
        --h4_font-size: 21pt;
        --h5_font-size: 20pt;
        --h6_font-size: 19pt;

        --bg_opacity: .5;
    }

    h1 
    {
        font-family: var(--h_font-family);
        font-size: var(--h1_font-size);
        text-align: center;
        font-weight: normal;
    }

    h2
    {
        font-family: var(--h_font-family);
        font-size: var(--h2_font-size);
        text-align: center;
        font-weight: normal;
    }

    p
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        text-align: justify;
    }

    a
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        color: var(--a_color);
        text-decoration: none;
    }

    .title
    {
        font-size: var(--title_font-size);

        display: table;
        margin: auto;
        margin-bottom: 2cm;
        padding: 30px;
        padding-bottom: 40px;

        background-image: url(res/title-o.png);
        background-size: 100% auto;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    li
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        line-height: 50px;
    }

    ul li::marker
    {
        content: "";
    }

    ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li1.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li3.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li4.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li5.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    ul li ul li ul li ul li ul li ul li::before
    {
        content: "";
        padding: 0cm 1em 0cm 0cm;
        margin-right: 6px;
        background-image: url(res/ul-li6.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #toc-id ul li::before
    {
        content: "";
        background-image: none;
    }

    dl
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        text-align: justify;
    }

    dt::before
    {
        display: block;
        background-image: url(res/dt-o-u.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 100%;
        height: 5px;
        content: " ";
        opacity: var(--bg_opacity);

        position: relative;
        left: -1ex;
        padding-right: 1ex;
        padding-left: 1ex;
    }
    dt
    {
        margin-top: 1cm;
        margin-bottom: 0.3cm;
        padding: 2px 12px;
        background-color: rgba(255, 193, 202, .25);
        
        display: table;
        margin-right: auto;

        font-size: var(--p_font-size);
    }
    dt::after
    {
        display: block;
        background-image: url(res/dt-o-l.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 5px;
        content: " ";
        opacity: var(--bg_opacity);

        position: relative;
        left: -1ex;
        padding-right: 1ex;
        padding-left: 1ex;
    }

    dd
    {
        background-color: rgba(255, 193, 202, .25);
        background-clip: border-box;
        padding: 18px 30px;
        border-radius: 7px;
        border-style: solid;
        border-image: linear-gradient(135deg, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 0%) 15%, rgba(0, 0, 0, 0%) 55%, rgba(242, 13, 250, 0.65)) 1% stretch;

        margin: 25px 10px 60px;
        margin-left: 30px;
    }

    figure
    {
        text-align: center;
    }

    figcaption
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
        font-style: italic;
    }

    .csl-entry
    {
        font-family: var(--p_font-family);
        font-size: var(--p_font-size);
    }

    h3
    {
        font-family: var(--h_font-family);
        font-size: var(--h3_font-size);
        font-weight: normal;
    }

    h4
    {
        font-family: var(--h_font-family);
        font-size: var(--h4_font-size);
        font-weight: normal;
    }

    h5
    {
        font-family: var(--h_font-family);
        font-size: var(--h5_font-size);
        font-weight: normal;
    }

    h6
    {
        font-family: var(--h_font-family);
        font-size: var(--h6_font-size);
        font-weight: normal;
    }
}
