/*
    Specificity
*/

/* #T# last one takes precedence */
p
{
    color: red;
}
p
{
    color: blue;
}
/* #T# nested takes precedence (id > class > tag) */
div p
{
    color: green;
}
p
{
    color: blue;
}