/*
    Page layout
*/

/* #T# properties: position, top, right, bottom, left */
h1
{
    position: relative;
    top: 1cm;
    right: 0cm;
    bottom: 0cm;
    left: 2cm;
}
p
{
    margin-left: 210px;
}
/* #T# property: float */
h2
{
    float: right;
}
/* #T# property: clear */
h3
{
    clear: both;
}