/*
    Display modes
*/

/* #T# inline display */
p
{
    display: inline;
    border: rebeccapurple solid 3px;
}
/* #T# block display */
span
{
    display: block;
    border: greenyellow solid;
}
/* #T# none display */
a
{
    display: none;
}
/* #T# run-in display (as parent element) */
div p
{
    display: run-in;
}