/*
    Pseudo classes
*/

/* #T# pseudo class syntax: selector:pseudoClass */
h1:hover
{
    background-color:rgb(4, 4, 49);
}
/* #T# pseudo classes: link, visited, hover, active, focus */
a:link
{
    color:crimson;
}
a:visited
{
    color:cornsilk;
}
a:hover
{
    color:chartreuse;
}
a:active
{
    color: blueviolet;
}
a:focus
{
    color:darksalmon;
}
/* #T# pseudo classes: first-child, nth-child(), last-child */
p:first-child, p:nth-child(4), p:last-child
{
    background-color: cadetblue;
}