/*
    Background images
*/

/* #T# properties: background-image, function url(), background-repeat, */
/* #T# background-position, background-size */
h2
{
    background-image: url(../../Octave/Section1/image1_3Aux.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 15cm;
    

    color: darkcyan;
    background-color: yellowgreen;
}