/*
    Shorthands
*/

/* #T# applying shorthand properties */

/* #T# margin: top right bottom left */
p
{
    margin: 0.5cm 1cm 1.5cm 2cm;
}
/* #T# padding: top-bottom right-left */
a
{
    padding: 1cm 2cm;
    background-color: aqua;
}
/* #T# border: border-width border-color border-style */
p
{
    border: 3pt royalblue dashed;
    border-right: 6pt solid salmon;
}
/* #T# font: font-style font-weight font-size/line-height font-family */
a
{
    font: italic bold 14pt/2 courier;
}