/*
    Pseudo elements
*/

/* #T# pseudo elements: ::first-letter, ::first-line */
/* #T# property float */
p::first-letter
{
    font-size: 20px;
    float: right;
}
p::first-line
{
    color: green;
}
/* #T# pseudo elements: ::before, ::after */
a::before
{
    content: open-quote;
}
a::after
{
    content: close-quote "!!";
    background-color: brown;
}