p {
    font-size: 28pt;
    line-height: 5cm;
    margin: 30px;
    border: solid 24px green;
    padding: 20px;

    background-image: url(S3_08_Aux01.jpg);
    background-size: 54px;
    background-position: bottom right;
    background-repeat: round;

    }