/*
    Colors
*/

/* #T# color values: name e.g. red, rgb(), hsl(), hex value #00ff00ff */
h1
{
    color:aqua
}
p
{
/* #T# properties: color, background-color */
    color:rgb(255, 144, 70);
    background-color:hsl(115, 62%, 50%, 50%)
}
a
{
    color:#fc2ae5ff
}